<head>
  <meta charset="UTF-8">
  <title>Know Your Teacher</title>
  
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  
  
  
    <header>
      <nav>
       <img src="images/ChalkBoardMini.png" class="box0">
      </nav>
    </header>
    <div id ="loginsign">
      <div id="start">
      <button id="login">Login</button>
      </div>
      <div id="setup">
      <button id="signup">Sign Up</button>
      </div>
        <nav>
          <button href='/'>Home</button>
          {{#if logged_In}}
            <a href='/profile'>My Profile</a>
            <button id='logout' class='btn-no-style'>Logout</button>
          {{else}}
            <button href='/login'>Login</button>
          {{/if}}
        </nav>
      </header>

      <main class='container container-fluid mt-5'>
        <p>Get to know your teacher!</p>
        {{{body}}}
      </main>
    </div>
<footer></footer>
    {{#if logged_In}}
      <script src='../../public/js/logout.js'></script>
    {{/if}}
   
  </body>

</html>