<head>
  <meta charset="UTF-8">
  <title>Know Your Teacher</title>
  
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  
   <img src="images/mokykla.jpg" class="box0">  
  
    <header>
      <img src="images/ChalkBoardLogo.png" class="box1">
    </header>
    <div id ="loginsign">
      <div id="start">
      <button id="login">Login</button>
      </div>
      <div id="setup">
      <button id="signup">Sign Up</button>
      </div>
      
      
      <main class="container container-fluid mt-5">
        {{{ body }}}
      </main>
  </div>
  </body>

</html>