<head>
  <meta charset="UTF-8">
  <title>Know Your Teacher</title>
  <link rel="stylesheet" href="../../public/css/style.css">
</head>

<body>
  
    <header>
      <nav>
       <img src="images/ChalkBoardMini.png" class="box0">
      </nav>
    </header>

    {{!-- <div id ="loginsign">
      <div id="start">
      <button id="login">Login</button>
    </div>

    <div id="setup">
      <button id="signup">Sign Up</button>
    </div> --}}

    <nav>
      <a href='/'>Home</a>
      {{#if logged_In}}
        <a href='/create'>Create your favorites</a>
        <a href='/logout' id='logout' class='btn-no-style'>Logout</button>
      {{else}}
        <a href='/login'>Login</a>
        <a href='/signup'>Signup</a>
      {{/if}}
    </nav>
    
      <main class='container container-fluid mt-5'>
        <p>Get to know your teacher!</p>
        {{{body}}}
      </main>

    {{!-- </div> --}}
<footer></footer>
    {{#if logged_In}}
      <script src='/js/logout.js'></script>
    {{/if}}
   
  </body>

</html>