<head>
  <meta charset="UTF-8">
  <title>Know Your Teacher</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  
    <header>
      <a class="container=1">
       <img src="images/ChalkBoardMini.png" class="box0">
       <div class="box1"></div>
    
    </header>

    {{!-- <div id ="loginsign">
      <div id="start">
      <button id="login">Login</button>
<<<<<<< HEAD
      </div>
      <div id="setup">
      <button id="signup">Sign Up</button>
      </div>
        <nav>
          <button href='/'>Home</button>
          {{#if logged_In}}
            <a href='/profile'>My Profile</a>
            <button id='logout' class='btn-no-style'>Logout</button>
          {{else}}
            <button href='/login'>Login</button>
          {{/if}}
        </nav>
     
=======
    </div>
>>>>>>> 537e755e6064e4ddfcba117b0363e8ce235ea7cf

    <div id="setup">
      <button id="signup">Sign Up</button>
    </div> --}}

    <nav>
      <a href='/'>Home</a>
      {{#if logged_In}}
        <a href='/create'>Create your favorites</a>
        <a href='/logout' id='logout' class='btn-no-style'>Logout</button>
      {{else}}
        <a href='/login'>Login</a>
        <a href='/signup'>Signup</a>
      {{/if}}
    </nav>
    
      <main class='container container-fluid mt-5'>
        <p>Get to know your teacher!</p>
        {{{body}}}
      </main>

    {{!-- </div> --}}
<footer></footer>
    {{#if logged_In}}
<<<<<<< HEAD
      <script src='js/logout.js'></script>
=======
      <script src='/js/logout.js'></script>
>>>>>>> 537e755e6064e4ddfcba117b0363e8ce235ea7cf
    {{/if}}
   
  </body>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</html>