<div class='row'>
  <div class='col-auto'>
    <h2>Hello, {{first_name}}!</h2>
  </div>
</div>

<div class='row mt-4'>
  <div class='col-md-6'>
    <h3>Please enter the following fields so that your students can get to know
      you better.</h3>

    <div id="new-post-form" class="card-body">
      <form class='form new-teacher-form'>
        <div class='form-group'>
          <label for='teacher-first-name'>First Name:</label>
          <input
            class='form-input'
            type='text'
            id='teacher-first-name'
            name='teacher-first-name'
          />
        </div>
        <div class='form-group'>
          <label for='teacher-last-name'>Last Name:</label>
          <input
            class='form-input'
            type='text'
            id='teacher-last-name'
            name='teacher-last-name'
          />
        </div>
        <div class='form-group'>
          <label for='teacher-color'>Favorite Color:</label>
          <input
            class='form-input'
            type='text'
            id='teacher-color'
            name='teacher-color'
          />
        </div>
        <div class='form-group'>
          <label for='teacher-flower'>Favorite Flower:</label>
          <input
            class='form-input'
            type='text'
            id='teacher-flower'
            name='teacher-flower'
          />
        </div>
        <div class='form-group'>
          <label for='teacher-candy'>Favorite Candy:</label>
          <input
            class='form-input'
            type='text'
            id='teacher-candy'
            name='teacher-candy'
          />
        </div>
        <div class='form-group'>
          <label for='teacher-eat'>Favorite Place(s) To Eat:</label>
          <input
            class='form-input'
            type='text'
            id='teacher-eat'
            name='teacher-eat'
          />
        </div>
        <div class='form-group'>
          <label for='teacher-hobbies'>Hobbies:</label>
          <input type='text' id='teacher-hobbies' name='teacher-hobbies' />
        </div>
        <div class='form-group'>
          <label for='teacher-other'>Other Helpful Information:</label>
          <input
            class='form-input'
            type='text'
            id='teacher-other'
            name='teacher-other'
          />
        </div>
        <div class='form-group'>
          <button type='submit' class='btn btn-primary'>Create</button>
        </div>
      </form>
    </div>  

  </div>

<script
  src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js'
></script>
<script
  src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js'
></script>
<script
  src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js'
></script>
<script src='../public/js/create.js'></script>