<!-- Loop over each object in the projects array -->
{{! teacherData is the array }}
{{! |teacher| is each individual in array }}
{{#each teachers as |teacher|}}
  <div>
    <h2>
      {{teacher.first_name}}
      {{teacher.last_name}}
    </h2>
  </div>>
{{/each}}

